.calculator {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 513px;
    padding: 20px;
    background-color: rgb(187, 182, 182);
    gap: 15px;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
}

.screen {
    display: flex;
    width: 390px;
    height: 120px;
    flex-direction: column;
}

#lastOperationScreen {
    display:flex;
    width: 380px;
    height: 90px;
    flex-direction: row-reverse;
    font-size: 25px;
    background-color: white;
    border-color: black;
    border-bottom: none;
    border-style: solid;
    border-bottom: none;
    align-items: center;
    padding-right: 5px;
    border-width: 2px;
}

#currentOperationScreen {
    align-items: center;
    display:flex;
    width: 380px;
    height: 140px;
    border-color: black;
    border-style: solid;
    flex-direction: row-reverse;
    background-color: white;
    font-size: 50px;
    padding-right: 5px;
    border-width: 2px;
}

.clearDeleteBtns {
    display:flex;
    width: 390px;
    height: 60px;
    justify-content: space-between;
}

#clearBtn {
    background-color: rgb(210, 174, 174);
    width: 180px;
    font-size: 22px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#deleteBtn {
    background-color:rgb(168, 168, 222);
    width: 180px;
    font-size: 22px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.keypad {
    display: flex;
    width: 386px;
    height: 60px;
    justify-content: space-between;
}

.data-number {
    width: 85px;
    height: 68px;
    font-size: 23px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.data-operator {
    width: 85px;
    height: 68px;
    font-size: 23px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.compute-operator {
    width: 85px;
    height: 68px;
    font-size: 23px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.data-decimal {
    width: 85px;
    height: 68px;
    font-size: 23px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}